body {
    background-image: url('../image/Blue-pastel-gradient-background-free-download.-scaled.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Center the image */
    font-family: "source-han-serif-hc-variable", sans-serif;
    font-variation-settings: "wght" 450;
    font-size: 20px;
    color: rgb(48, 47, 54);
}

header {
    font-size: 25px;
    padding-bottom: 20px;
}

.header{
    padding-top: 20px;
    padding-left: 40px;
}
/* Style the navigation menu */
nav {
    /* Font style */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    /* Center the navigation */
}

/* Remove default list styles */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

/* Style each navigation item */
nav li {
    margin: 0 15px;
    /* Spacing between each item */
}

/* Style the links */
nav a {
    text-decoration: none;
    /* Remove underline from links */
    color: rgb(48, 47, 54);
    /* Light text color for contrast */
    padding: 10px 15px;
    /* Spacing around the text */
    display: block;
    transition: background-color 0.3s;
    /* Smooth transition for hover effect */
}

/* Change background color on hover */
nav a:hover {
    background-color: rgba(104, 214, 247, 0.6);
    border-radius: 15px;
    /* A slightly lighter dark color for hover effect */
}

/* Style for the active/current page */
nav a.active {
    background-color: #0088a9;
    /* A different color to denote the active page */
    color: white;
    border-radius: 15px;
}

/* Add this to your existing CSS file */

/* This ensures that the direct children of the container (your sections) are flex items */
.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    /* Adjust this as needed */
    align-items: flex-start;
    /* Adjust this as needed */
}

.about{
    flex-grow: 3;
    padding-left: 50px;
}
/* This will target the <li> elements within the 'cards' class */
.cards {
    flex-grow: 7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    gap: 20px;
    /* Adjust margin as needed */
}
.intro {
    width: 400px;
    line-height: 1.5;
}
/* This will target the <img> elements within the 'cards' class */
.cards img {
    object-fit: cover;
    /* Ensures the image covers the area, may be cropped */
    width: 250px;
    height: 600px;
    border-radius: 25px;
}

/* Adjust the size of the logos within the footer */
.social-icons img {
    width: 3%;
    opacity: 0.8;
    height: auto;
}

.social-icons {
    padding: 10px;
}

footer {
    font-size: 16px;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 15px;
}

.photos {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.photos img {
    width: 300px;
    height: auto;
    border-radius: 30px;
}

.act-container {
    margin: 0 auto;
    width: 65%;
}

.act-title{
    padding: 20px 20px;
    font-size: 30px;
    text-align: center;
}

.collapsible {
    background-color: transparent;
    font-family: "source-han-serif-hc-variable", sans-serif;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
}

.active,
.collapsible:hover {
    background-color: rgb(50, 155, 186);
    color: white;
}

.content {
    padding: 0 18px;
    line-height: 1.5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    background-color: transparent;
}

.overlay{
    position:relative;
}

.text-overlay {
    position: absolute;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;top: 50%;
    /* position the top edge of the element at the center of the container */
    left: 50%;
    /* position the left edge of the element at the center of the container */
    transform: translate(-50%, -50%);
    /* shifts the element left and up by half its own width and height */
    opacity: 0;
}

.overlay:hover .text-overlay{
    opacity: 1;
    transition: 0.3s;
}

.overlay:hover img {
    opacity: 0.4;
    transition: 0.3s;
}